//PRIMARY
$color-primary-1: #30417D !default;
$color-primary-2: #4881AF !default;
$color-primary-3: #9AC4FE !default;
$color-primary-4: #9AC4FE !default;
$color-primary-5: #9AC4FE !default;

//SECONDARY
$color-secondary-1: #3D8A7C !default;
$color-secondary-2: #1CC664 !default;
$color-secondary-3: #55E581 !default;
$color-secondary-4: #55E581 !default;
$color-secondary-5: #55E581 !default;

//GRAYSCALE
$color-black: #000000 !default;
$color-gray-1: #151515 !default;
$color-gray-2: #333333 !default;
$color-gray-3: #555555 !default;
$color-gray-4: #666666 !default;
$color-gray-5: #707070 !default;
$color-gray-6: #999999 !default;
$color-gray-7: #B5B5B5 !default;
$color-gray-8: #D7D7D7 !default;
$color-gray-9: #EAEAEA !default;
$color-gray-10: #F2F2F2 !default;
$color-gray-11: #FAFAFA !default;
$color-white: #FFFFFF !default;

//ALERT
$color-alert-1: #439943 !default;
$color-alert-2: #FF5648 !default;
