@mixin w($n) { width: $n; }
@mixin h($n) { height: $n; }
@mixin mw($n) { max-width: $n; }
@mixin mh($n) { max-height: $n; }
@mixin miw($n) { min-width: $n; }
@mixin mih($n) { min-height: $n; }
@mixin fg($n) { flex-grow: $n }
@mixin ai($n) { align-items: $n; }
@mixin jc($n) { justify-content: $n; }
@mixin pos($n) { position: $n; }
@mixin post($n) { top: $n; }
@mixin posb($n) { bottom: $n; }
@mixin posl($n) { left: $n; }
@mixin posr($n) { right: $n; }
@mixin mt($n) { margin-top: $n; }
@mixin mb($n) { margin-bottom: $n; }
@mixin ml($n) { margin-left: $n; }
@mixin mr($n) { margin-right: $n; }
@mixin pt($n) { padding-top: $n; }
@mixin pb($n) { padding-bottom: $n; }
@mixin pl($n) { padding-left: $n; }
@mixin pr($n) { padding-right: $n; }
@mixin bg($n) { background-color: $n; }
@mixin fc($n) { color: $n; }
@mixin ff($n) { font-family: $n; }
@mixin fs($n) { font-size: $n; }
@mixin fw($n) { font-weight: $n; }
@mixin lh($n) { line-height: $n; }
@mixin ls($n) { letter-spacing: $n; }
@mixin td($n) { text-decoration: $n; }
@mixin ta($n) { text-align: $n; }
@mixin r($n) { border-radius: $n; }
@mixin bc($n) { border-color: $n; }
@mixin bt($n) { border-top: $n; }
@mixin bb($n) { border-bottom: $n; }
@mixin bl($n) { border-left: $n; }
@mixin br($n) { border-right: $n; }
@mixin bs($n) { border-style: $n; }

@mixin fx($n1, $n2) {
  display: flex;
  flex-direction: row;
  align-items: $n1;
  justify-content: $n2;
}
@mixin fy($n1, $n2) {
  display: flex;
  flex-direction: column;
  align-items: $n1;
  justify-content: $n2;
}
@mixin area($n) {
	@include w($n1);
	@include h($n2);
}
@mixin space-width($w, $x) {
	@include px($x);
	@include w(calc(#{$w} - (#{$x} * 2)));
}
@mixin mx($n) {
	@include ml($n);
	@include mr($n);
}
@mixin my($n) {
	@include mt($n);
	@include mb($n);
}
@mixin m($n) {
	@include mx($n);
	@include my($n);
}
@mixin px($n) {
	@include pl($n);
	@include pr($n);
}
@mixin py($n) {
	@include pt($n);
	@include pb($n);
}
@mixin p($n) {
	@include px($n);
	@include py($n);
}
@mixin font($ff, $fs, $lh, $fw) {
	@include ff($ff);
	@include fs($fs);
	@include lh($lh);
	@include fw($fw);
}
@mixin shadow($x, $y, $f, $c) {
	box-shadow: $x $y $f $c;
}
@mixin button-outline($c) {
	box-shadow: 0 0 0 2pt $c;
}
@mixin bx($n) {
	@include bl($n);
	@include br($n);
}
@mixin by($n) {
	@include bt($n);
	@include bb($n);
}
@mixin b($n, $s, $c) {
	@include bx($n);
	@include by($n);
	@include bs($s);
	@include bc($c);
}

%fwrap { flex-wrap: wrap; }
%uppercase { text-transform: uppercase; }
%lowercase { text-transform: lowercase; }
%scrolly { overflow-y: scroll; }
%scrollx { overflow-x: scroll; }
