@mixin space-width($w, $x) {
	@include px($x);
	@include w(calc(#{$w} - (#{$x} * 2)));
}

//WIDTHS & HEIGHTS
@mixin w($n) { width: $n; }
@mixin h($n) { height: $n; }
@mixin mw($n) { max-width: $n; }
@mixin mh($n) { max-height: $n; }
@mixin miw($n) { min-width: $n; }
@mixin mih($n) { min-height: $n; }
@mixin area($n) {
	@include w($n);
	@include h($n);
}
//FLEX
@mixin fx($n, $c) {
  display: flex;
  flex-direction: $n;
  align-items: $c;
}
//FLEX-WRAP
@mixin fwrap($n) {
	display: flex;
	flex-wrap: $n;
}
@mixin fg($n) { flex-grow: $n }
@mixin ai($n) { align-items: $n; }
@mixin jc($n) { justify-content: $n; }
//POSITION
@mixin pos($n) { position: $n; }
@mixin post($n) { top: $n; }
@mixin posb($n) { bottom: $n; }
@mixin posl($n) { left: $n; }
@mixin posr($n) { right: $n; }
//MARGINS
@mixin mt($n) { margin-top: $n; }
@mixin mb($n) { margin-bottom: $n; }
@mixin ml($n) { margin-left: $n; }
@mixin mr($n) { margin-right: $n; }
@mixin mx($n) {
	@include ml($n);
	@include mr($n);
}
@mixin my($n) {
	@include mt($n);
	@include mb($n);
}
@mixin m($n) {
	@include mx($n);
	@include my($n);
}
//PADDINGS
@mixin pt($n) { padding-top: $n; }
@mixin pb($n) { padding-bottom: $n; }
@mixin pl($n) { padding-left: $n; }
@mixin pr($n) { padding-right: $n; }
@mixin px($n) {
	@include pl($n);
	@include pr($n);
}
@mixin py($n) {
	@include pt($n);
	@include pb($n);
}
@mixin p($n) {
	@include px($n);
	@include py($n);
}
//GERAL STYLING
@mixin bg($n) { background-color: $n; }
@mixin shadow($x, $y, $f, $c) {
	box-shadow: $x $y $f $c;
}
@mixin outline($c) {
	box-shadow: 0 0 0 2pt $c;
}
@mixin b($n, $s, $c) {
	@include bx($n);
	@include by($n);
	@include bs($s);
	@include bc($c);
}
//FONTS STYLING
@mixin fc($n) { color: $n; }
@mixin fill($n) { fill: $n; }
@mixin ff($n) { font-family: $n; }
@mixin fs($n) { font-size: $n; }
@mixin ft($n) { font-style: $n; }
@mixin fw($n) { font-weight: $n; }
@mixin lh($n) { line-height: $n; }
@mixin ls($n) { letter-spacing: $n; }
@mixin justify { text-align: justify; }
@mixin font($ff, $fs, $lh, $fw) {
	@include ff($ff);
	@include fs($fs);
	@include lh($lh);
	@include fw($fw);
}
%uppercase { text-transform: uppercase; }
//TEXT STYLING
@mixin td($n) { text-decoration: $n; }
@mixin ta($n) { text-align: $n; }
@mixin tt($n) { text-transform: $n; }
//BORDER STYLING
@mixin bt($n) { border-top: $n; }
@mixin bb($n) { border-bottom: $n; }
@mixin bl($n) { border-left: $n; }
@mixin br($n) { border-right: $n; }
@mixin r($n) { border-radius: $n; }
@mixin bc($n) { border-color: $n; }
@mixin bs($n) { border-style: $n; }
@mixin bx($n) {
	@include bl($n);
	@include br($n);
}
@mixin by($n) {
	@include bt($n);
	@include bb($n);
}
@mixin b($n, $s, $c) {
	@include bx($n);
	@include by($n);
	@include bs($s);
	@include bc($c);
}

%scrolly { overflow-y: scroll; }
%scrollx { overflow-x: scroll; }
%strong { font-weight: bold; }
