$space-size-0: 4px;
$space-size-1: 8px;
$space-size-2: 16px;
$space-size-3: 24px;
$space-size-4: 32px;
$space-size-5: 40px;
$space-size-6: 48px;
$space-size-7: 56px;
$space-size-8: 64px;
$space-size-9: 72px;
$space-size-10: 80px;
$space-size-11: 88px;
$space-size-12: 96px;
$space-size-13: 104px;
$space-size-14: 112px;
$space-size-15: 120px;
$space-size-16: 128px;
$space-size-17: 136px;
$space-size-18: 144px;
$space-size-19: 152px;
$space-size-20: 160px;
$space-size-21: 168px;
$space-size-22: 176px;
$space-size-23: 184px;
$space-size-24: 192px;
$space-size-25: 200px;
$space-size-26: 208px;
$space-size-27: 216px;
$space-size-28: 224px;
$space-size-29: 232px;
