@use '../../styles' as *;

.ads-block {
  &.mobile-off {
    display: none;
  }
  &.desktop-off {
    display: none;
  }
  @media(max-width: $lg) {
    &.mobile-on {
      display: flex;
    }
    &.desktop-on {
      display: none;
    }
  }
  @media(min-width: $lg) {
    &.mobile-on {
      display: none;
    }
    &.desktop-on {
      display: flex;
    }
  }
}