@use '../../styles' as *;

$column-header-title-size: 22px;
$column-header-title-height: 28px;

.column-header {
  @include bg($color-white);
  @include b(1px, solid, $color-neutral-9);
  @include r(5px);
  .image-background {
    @include w(80px);
    @include h(80px);
    @include r(40px);
    @include bg($color-neutral-10);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .title {
    @include fs($column-header-title-size);
    @include lh($column-header-title-height);
  }
  .description {

  }
}