@use '../../styles' as *;

.teaser {
  @include fy(flex-start, flex-start);
  @include w(100%);
  .image-box {
    @include h(160px);
    @include w(100%);
    @include mb($space-size-3);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
  }
}