@use '../../styles' as *;

@keyframes beforeHover {
  from {opacity: 0.8}
  to {opacity: 1}
}
@keyframes hoverAnimation {
  from {opacity: 1}
  to {opacity: 0.8}
}

.Typography-Subject-root {
  &.size-1 {
    @include ff($font-subject-family);
    @include fs($font-subject-size-1);
    @include lh($font-subject-lineheight-1);
    @include fw($font-subject-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
  &.size-2 {
    @include ff($font-subject-family);
    @include fs($font-subject-size-2);
    @include lh($font-subject-lineheight-2);
    @include fw($font-subject-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
  &.size-3 {
    @include ff($font-subject-family);
    @include fs($font-subject-size-3);
    @include lh($font-subject-lineheight-3);
    @include fw($font-subject-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
}

.Typography-NewsTitle-root {
  &.size-1 {
    @include ff($font-newstitle-family);
    @include fs($font-newstitle-size-1);
    @include lh($font-newstitle-lineheight-1);
    @include fw($font-newstitle-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
    &.has-hover {
      animation-name: beforeHover;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
      &:hover {
        animation-name: hoverAnimation;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
      }
    }
  }
  &.size-2 {
    @include ff($font-newstitle-family);
    @include fs($font-newstitle-size-2);
    @include lh($font-newstitle-lineheight-2);
    @include fw($font-newstitle-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
    &.has-hover {
      animation-name: beforeHover;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
      &:hover {
        animation-name: hoverAnimation;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
      }
    }
  }
  &.size-3 {
    @include ff($font-newstitle-family);
    @include fs($font-newstitle-size-3);
    @include lh($font-newstitle-lineheight-3);
    @include fw($font-newstitle-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
    &.has-hover {
      animation-name: beforeHover;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
      &:hover {
        animation-name: hoverAnimation;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
      }
    }
  }
  &.size-4 {
    @include ff($font-newstitle-family);
    @include fs($font-newstitle-size-4);
    @include lh($font-newstitle-lineheight-4);
    @include fw($font-newstitle-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
    &.has-hover {
      animation-name: beforeHover;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
      &:hover {
        animation-name: hoverAnimation;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
       
      }
    }
  }
  &.size-5 {
    @include ff($font-newstitle-family);
    @include fs($font-newstitle-size-5);
    @include lh($font-newstitle-lineheight-5);
    @include fw($font-newstitle-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
    &.has-hover {
      animation-name: beforeHover;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
      &:hover {
        animation-name: hoverAnimation;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
      }
    }
  }
  &.size-6 {
    @include ff($font-newstitle-family);
    @include fs($font-newstitle-size-6);
    @include lh($font-newstitle-lineheight-6);
    @include fw($font-newstitle-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
    &.has-hover {
      animation-name: beforeHover;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
      &:hover {
        animation-name: hoverAnimation;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
      }
    }
  }
  &.size-7 {
    @include ff($font-newstitle-family);
    @include fs($font-newstitle-size-7);
    @include lh($font-newstitle-lineheight-7);
    @include fw($font-newstitle-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
    .has-hover {
      animation-name: beforeHover;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
      &:hover {
        animation-name: hoverAnimation;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
      }
    }
  }
}

.Typography-Subtitle-root {
  &.size-1 {
    @include ff($font-subtitle-family);
    @include fs($font-subtitle-size-1);
    @include lh($font-subtitle-lineheight-1);
    @include fw($font-subtitle-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
}

.Typography-Date-root {
  &.size-1 {
    @include ff($font-date-family);
    @include fs($font-date-size-1);
    @include lh($font-date-lineheight-1);
    @include fw($font-date-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
}

.Typography-Author-root {
  &.size-1 {
    @include ff($font-author-family);
    @include fs($font-author-size-1);
    @include lh($font-author-lineheight-1);
    @include fw($font-author-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
}

.Typography-Byline-root {
  &.size-1 {
    @include ff($font-byline-family);
    @include fs($font-byline-size-1);
    @include lh($font-byline-lineheight-1);
    @include fw($font-byline-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
}

.Typography-Paragraph-root {
  a {
    color: $color-primary-1;
    animation-name: beforeHover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    &:hover {
      animation-name: hoverAnimation;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }
  }
  &.size-1 {
    @include ff($font-paragraph-family);
    @include fs($font-paragraph-size-1);
    @include lh($font-paragraph-lineheight-1);
    @include fw($font-paragraph-weight);
    @include m(0px);
    @include w(100%);
    @extend %family-colors;
    @extend %weight-family;
    &.sm {
      @include mw($sm);
    }
    &.md {
      @include mw($md);
    }
    &.lg {
      @include mw($lg);
    }
    &.gutter-1 {
      @include mb($space-size-1);
    }
    &.gutter-2 {
      @include mb($space-size-2);
    }
    &.gutter-3 {
      @include mb($space-size-3);
    }
  }
}

.Typography-InterTitle-root {
  &.size-1 {
    @include ff($font-interTitle-family);
    @include fs($font-interTitle-size-1);
    @include lh($font-interTitle-lineheight-1);
    @include fw($font-interTitle-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
}

.Typography-Citation-root {
  &.size-1 {
    @include ff($font-citation-family);
    @include fs($font-citation-size-1);
    @include lh($font-citation-lineheight-1);
    @include fw($font-citation-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
}

.Typography-UrlLink-root {
  &.size-1 {
    @include ff($font-urlLink-family);
    @include fs($font-urlLink-size-1);
    @include lh($font-urlLink-lineheight-1);
    @include fw($font-urlLink-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
}

.Typography-Tag-root {
  &.size-1 {
    @include ff($font-tag-family);
    @include fs($font-tag-size-1);
    @include lh($font-tag-lineheight-1);
    @include fw($font-tag-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
}

.Typography-SectionTitle-root {
  &.size-1 {
    @include ff($font-sectionTitle-family);
    @include fs($font-sectionTitle-size-1);
    @include lh($font-sectionTitle-lineheight-1);
    @include fw($font-sectionTitle-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
  &.mb-1 {
    @include mb($space-size-1);
  }
  &.mb-2 {
    @include mb($space-size-2);
  }
  &.mb-3 {
    @include mb($space-size-3);
  }
  &.uppercase {
    text-transform: uppercase;
  }
}

.Typography-EditorialTitle-root {
  &.size-1 {
    @include ff($font-editorialTitle-family);
    @include fs($font-editorialTitle-size-1);
    @include lh($font-editorialTitle-lineheight-1);
    @include fw($font-editorialTitle-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
}

.Typography-Button-root {
  &.size-1 {
    @include ff($font-button-family);
    @include fs($font-button-size-1);
    @include lh($font-button-lineheight-1);
    @include fw($font-button-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
}

.Typography-MostReadNumber-root {
  &.size-1 {
    @include ff($font-mostread-number-family);
    @include fs($font-mostread-number-size-1);
    @include lh($font-mostread-number-lineheight-1);
    @include fw($font-mostread-number-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
}

.Typography-MenuSideTitle-root {
  &.size-1 {
    @include ff($font-menuSide-title-family);
    @include fs($font-menuSide-title-size-1);
    @include lh($font-menuSide-title-lineheight-1);
    @include fw($font-menuSide-title-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
}

.Typography-MenuSideItem-root {
  &.size-1 {
    @include ff($font-menuSide-item-family);
    @include fs($font-menuSide-item-size-1);
    @include lh($font-menuSide-item-lineheight-1);
    @include fw($font-menuSide-item-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
}

.Typography-MenuTopItem-root {
  &.size-1 {
    @include ff($font-menuTop-item-family);
    @include fs($font-menuTop-item-size-1);
    @include lh($font-menuTop-item-lineheight-1);
    @include fw($font-menuTop-item-weight);
    @include m(0px);
    @extend %family-colors;
    @extend %weight-family;
  }
}