//PRIMARY
$color-primary-1: #30417D;
$color-primary-2: #4881AF;
$color-primary-3: #9AC4FE;

//SECONDARY
$color-secondary-1: #3D8A7C;
$color-secondary-2: #1CC664;
$color-secondary-3: #55E581;

//GRAYSCALE
$color-black: #000000;
$color-gray-1: #151515;
$color-gray-2: #333333;
$color-gray-3: #555555;
$color-gray-4: #666666;
$color-gray-5: #707070;
$color-gray-6: #999999;
$color-gray-7: #B5B5B5;
$color-gray-8: #D7D7D7;
$color-gray-9: #EAEAEA;
$color-gray-10: #F2F2F2;
$color-gray-11: #FAFAFA;
$color-white: #FFFFFF;

//ALERT
$color-alert-1: #439943;
$color-alert-2: #FF5648;
