{
  "presets": [
    "@babel/react",
    "@babel/env"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}