@use '../../styles' as *;

%family-buttonSize {
  &.size-1 {
    @include h(32px);
    svg {
      @include area(16px);
    }
    &.has-leftIcon {
      svg {
        @include mr(8px);
      }
    }
    &.has-rightIcon {
      svg {
        @include ml(8px);
      }
    }
  }
  &.size-2 {
    @include h(40px);
    svg {
      @include area(16px);
    }
    &.has-leftIcon {
      svg {
        @include mr(8px);
      }
    }
    &.has-rightIcon {
      svg {
        @include ml(8px);
      }
    }
  }
  &.size-3 {
    @include h(48px);
    svg {
      @include area(24px);
    }
    &.has-leftIcon {
      svg {
        @include mr(8px);
      }
    }
    &.has-rightIcon {
      svg {
        @include ml(8px);
      }
    }
  }
  &.size-4 {
    @include h(56px);
    svg {
      @include area(24px);
    }
    &.has-leftIcon {
      svg {
        @include mr(8px);
      }
    }
    &.has-rightIcon {
      svg {
        @include ml(8px);
      }
    }
  }
  &.size-5 {
    @include h(64px);
    svg {
      @include area(24px);
    }
    &.has-leftIcon {
      svg {
        @include mr(8px);
      }
    }
    &.has-rightIcon {
      svg {
        @include ml(8px);
      }
    }
  }
}

@keyframes buttonHover {
  from {opacity: 100%;}
  to {opacity: 80%;}
}

.Prensa-Button-root {
  @include px($space-size-2);
  @include miw(max-content);
  @extend %family-buttonSize;
  @extend %family-radius;
  cursor: pointer;
  border: unset;
  text-transform: uppercase;

  &.fullWidth {
    @include w(100%);
  }

  &.filled {
    @extend %family-background-colors;
    &:hover {
      animation-name: buttonHover;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }
    &:disabled {
      @include bg($color-neutral-8);
      cursor: unset;
      &:hover {
        animation-name: none;
      }
    }
  }

  &.outlined {
    @include bg(transparent);
    @extend %family-border-colors;
    border-width: 1px;
    border-style: solid;
    &:hover {
      animation-name: buttonHover;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }
    &:disabled {
      border-color: $color-neutral-8;
      cursor: unset;
      &:hover {
        animation-name: none;
      }
    }
  }
}