@use '../../styles' as *;

.ds-button {
  border: unset;
  cursor: pointer;
  @include h(48px);
  @include r(5px);
  @include m($space-size-1);
  @include px($space-size-2);

  @include ff($font-primary);
  @include fs(12px);
  text-transform: uppercase;
  color: white;

  &.fullWidth {
    @include w(calc(100% - 16px));
  }

  &.filled {
    &.primary {
      @include bg($color-primary-2);
      &:hover {
        animation-name: hoverPrimary;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        @keyframes hoverPrimary {
          from {@include bg($color-primary-2)}
          to {@include bg($color-primary-3)}
        }
      }
    }
    &.secondary {
      @include bg($color-secondary-2);
      &:hover {
        animation-name: hoverSecondary;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        @keyframes hoverSecondary {
          from {@include bg($color-secondary-2)}
          to {@include bg($color-secondary-3)}
        }
      }
    }
  }

  &.outlined {
    &.primary {
      @include bg($color-white);
      @include b(1px, solid, $color-neutral-9);
      @include fc($color-primary-2);
      &:hover {
        animation-name: hoverOutlinedPrimary;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        @keyframes hoverOutlinedPrimary {
          from {
            @include bg($color-white);
            @include fc($color-primary-2);
          }
          to {
            @include bg($color-neutral-11);
            @include fc($color-primary-1);
          }
        }
      }
    }
    &.secondary {
      @include bg($color-white);
      @include b(1px, solid, $color-neutral-9);
      @include fc($color-secondary-2);
      &:hover {
        animation-name: hoverOutlinedSecondary;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        @keyframes hoverOutlinedSecondary {
          from {
            @include bg($color-white);
            @include fc($color-secondary-2);
          }
          to {
            @include bg($color-neutral-11);
            @include fc($color-secondary-1);
          }
        }
      }
    }
  }
}