//PRIMARY
$color-primary-1: #30417D !default;
$color-primary-2: #4881AF !default;
$color-primary-3: #9AC4FE !default;

//SECONDARY
$color-secondary-1: #3D8A7C !default;
$color-secondary-2: #1CC664 !default;
$color-secondary-3: #55E581 !default;

//GRAYSCALE
$color-black: #000000 !default;
$color-neutral-1: #151515 !default;
$color-neutral-2: #333333 !default;
$color-neutral-3: #555555 !default;
$color-neutral-4: #666666 !default;
$color-neutral-5: #707070 !default;
$color-neutral-6: #999999 !default;
$color-neutral-7: #B5B5B5 !default;
$color-neutral-8: #D7D7D7 !default;
$color-neutral-9: #EAEAEA !default;
$color-neutral-10: #F2F2F2 !default;
$color-neutral-11: #FAFAFA !default;
$color-white: #FFFFFF !default;

$color-ads: #FF5C00 !default;

$color-editorial-1: #0975B7 !default;
$color-editorial-2: #AB001B !default;
$color-editorial-3: #BFA525 !default;
$color-editorial-4: #080808 !default;
$color-editorial-5: #09B77B !default;

//ALERT
$color-success-1: #3C8D40 !default;
$color-success-2: #50AE55 !default;
$color-success-3: #83C686 !default;

$color-error-1: #D13135 !default;
$color-error-2: #F1453D !default;
$color-error-3: #E37475 !default;

//SUBJECTS
$color-subject-black: #080808; 
$color-subject-blue: #0975B7;
$color-subject-green: #09B77B; 
$color-subject-red: #AB001B; 
$color-subject-yellow: #BFA525;

%family-colors {
  &.color-primary-1 {
    color: $color-primary-1;
  }
  &.color-primary-2 {
    color: $color-primary-2;
  }
  &.color-primary-3 {
    color: $color-primary-3;
  }
  &.color-secondary-1 {
    color: $color-primary-3;
  }
  &.color-secondary-2 {
    color: $color-primary-3;
  }
  &.color-secondary-3 {
    color: $color-primary-3;
  }
  &.color-editorial-1 {
    color: $color-editorial-1;
  }
  &.color-editorial-2 {
    color: $color-editorial-2;
  }
  &.color-editorial-3 {
    color: $color-editorial-3;
  }
  &.color-editorial-4 {
    color: $color-editorial-4;
  }
  &.color-editorial-5 {
    color: $color-editorial-5;
  }
  &.color-ads {
    color: $color-ads;
  }
  &.color-black {
    color: $color-black;
  }
  &.color-neutral-1 {
    color: $color-neutral-1;
  }
  &.color-neutral-2 {
    color: $color-neutral-2;
  }
  &.color-neutral-3 {
    color: $color-neutral-3;
  }
  &.color-neutral-4 {
    color: $color-neutral-4;
  }
  &.color-neutral-5 {
    color: $color-neutral-5;
  }
  &.color-neutral-6 {
    color: $color-neutral-6;
  }
  &.color-neutral-7 {
    color: $color-neutral-7;
  }
  &.color-neutral-8 {
    color: $color-neutral-8;
  }
  &.color-neutral-9 {
    color: $color-neutral-9;
  }
  &.color-neutral-10 {
    color: $color-neutral-10;
  }
  &.color-neutral-11 {
    color: $color-neutral-11;
  }
  &.color-white {
    color: $color-white;
  }
  &.color-success-1 {
    color: $color-success-1;
  }
  &.color-success-2 {
    color: $color-success-2;
  }
  &.color-success-3 {
    color: $color-success-3;
  }
  &.color-error-1 {
    color: $color-error-1;
  }
  &.color-error-2 {
    color: $color-error-2;
  }
  &.color-error-3 {
    color: $color-error-3;
  }
}

%family-background-colors {
  &.color-primary-1 {
    background-color: $color-primary-1;
  }
  &.color-primary-2 {
    background-color: $color-primary-2;
  }
  &.color-primary-3 {
    background-color: $color-primary-3;
  }
  &.color-secondary-1 {
    background-color: $color-primary-3;
  }
  &.color-secondary-2 {
    background-color: $color-primary-3;
  }
  &.color-secondary-3 {
    background-color: $color-primary-3;
  }
  &.color-editorial-1 {
    background-color: $color-editorial-1;
  }
  &.color-editorial-2 {
    background-color: $color-editorial-2;
  }
  &.color-editorial-3 {
    background-color: $color-editorial-3;
  }
  &.color-editorial-4 {
    background-color: $color-editorial-4;
  }
  &.color-editorial-5 {
    background-color: $color-editorial-5;
  }
  &.color-ads {
    background-color: $color-ads;
  }
  &.color-black {
    background-color: $color-black;
  }
  &.color-neutral-1 {
    background-color: $color-neutral-1;
  }
  &.color-neutral-2 {
    background-color: $color-neutral-2;
  }
  &.color-neutral-3 {
    background-color: $color-neutral-3;
  }
  &.color-neutral-4 {
    background-color: $color-neutral-4;
  }
  &.color-neutral-5 {
    background-color: $color-neutral-5;
  }
  &.color-neutral-6 {
    background-color: $color-neutral-6;
  }
  &.color-neutral-7 {
    background-color: $color-neutral-7;
  }
  &.color-neutral-8 {
    background-color: $color-neutral-8;
  }
  &.color-neutral-9 {
    background-color: $color-neutral-9;
  }
  &.color-neutral-10 {
    background-color: $color-neutral-10;
  }
  &.color-neutral-11 {
    background-color: $color-neutral-11;
  }
  &.color-white {
    background-color: $color-white;
  }
  &.color-success-1 {
    background-color: $color-success-1;
  }
  &.color-success-2 {
    background-color: $color-success-2;
  }
  &.color-success-3 {
    background-color: $color-success-3;
  }
  &.color-error-1 {
    background-color: $color-error-1;
  }
  &.color-error-2 {
    background-color: $color-error-2;
  }
  &.color-error-3 {
    background-color: $color-error-3;
  }
}

%family-border-colors {
  &.color-primary-1 {
    border-color: $color-primary-1;
  }
  &.color-primary-2 {
    border-color: $color-primary-2;
  }
  &.color-primary-3 {
    border-color: $color-primary-3;
  }
  &.color-secondary-1 {
    border-color: $color-primary-3;
  }
  &.color-secondary-2 {
    border-color: $color-primary-3;
  }
  &.color-secondary-3 {
    border-color: $color-primary-3;
  }
  &.color-editorial-1 {
    border-color: $color-editorial-1;
  }
  &.color-editorial-2 {
    border-color: $color-editorial-2;
  }
  &.color-editorial-3 {
    border-color: $color-editorial-3;
  }
  &.color-editorial-4 {
    border-color: $color-editorial-4;
  }
  &.color-editorial-5 {
    border-color: $color-editorial-5;
  }
  &.color-ads {
    border-color: $color-ads;
  }
  &.color-black {
    border-color: $color-black;
  }
  &.color-neutral-1 {
    border-color: $color-neutral-1;
  }
  &.color-neutral-2 {
    border-color: $color-neutral-2;
  }
  &.color-neutral-3 {
    border-color: $color-neutral-3;
  }
  &.color-neutral-4 {
    border-color: $color-neutral-4;
  }
  &.color-neutral-5 {
    border-color: $color-neutral-5;
  }
  &.color-neutral-6 {
    border-color: $color-neutral-6;
  }
  &.color-neutral-7 {
    border-color: $color-neutral-7;
  }
  &.color-neutral-8 {
    border-color: $color-neutral-8;
  }
  &.color-neutral-9 {
    border-color: $color-neutral-9;
  }
  &.color-neutral-10 {
    border-color: $color-neutral-10;
  }
  &.color-neutral-11 {
    border-color: $color-neutral-11;
  }
  &.color-white {
    border-color: $color-white;
  }
  &.color-success-1 {
    border-color: $color-success-1;
  }
  &.color-success-2 {
    border-color: $color-success-2;
  }
  &.color-success-3 {
    border-color: $color-success-3;
  }
  &.color-error-1 {
    border-color: $color-error-1;
  }
  &.color-error-2 {
    border-color: $color-error-2;
  }
  &.color-error-3 {
    border-color: $color-error-3;
  }
}

%family-svg-colors {
  &.color-primary-1 {
    svg {
      fill: $color-primary-1;
    } 
  }
  &.color-primary-2 {
    svg {
      fill: $color-primary-2;
    } 
  }
  &.color-primary-3 {
    svg {
      fill: $color-primary-3;
    } 
  }
  &.color-secondary-1 {
    svg {
      fill: $color-primary-3;
    } 
  }
  &.color-secondary-2 {
    svg {
      fill: $color-primary-3;
    } 
  }
  &.color-secondary-3 {
    svg {
      fill: $color-primary-3;
    } 
  }
  &.color-editorial-1 {
    svg {
      fill: $color-editorial-1;
    } 
  }
  &.color-editorial-2 {
    svg {
      fill: $color-editorial-2;
    } 
  }
  &.color-editorial-3 {
    svg {
      fill: $color-editorial-3;
    } 
  }
  &.color-editorial-4 {
    svg {
      fill: $color-editorial-4;
    } 
  }
  &.color-editorial-5 {
    svg {
      fill: $color-editorial-5;
    } 
  }
  &.color-ads {
    svg {
      fill: $color-ads;
    }
  }
  &.color-black {
    svg {
      fill: $color-black;
    }
  }
  &.color-neutral-1 {
    svg {
      fill: $color-neutral-1;
    } 
  }
  &.color-neutral-2 {
    svg {
      fill: $color-neutral-2;
    } 
  }
  &.color-neutral-3 {
    svg {
      fill: $color-neutral-3;
    } 
  }
  &.color-neutral-4 {
    svg {
      fill: $color-neutral-4;
    } 
  }
  &.color-neutral-5 {
    svg {
      fill: $color-neutral-5;
    } 
  }
  &.color-neutral-6 {
    svg {
      fill: $color-neutral-6;
    } 
  }
  &.color-neutral-7 {
    svg {
      fill: $color-neutral-7;
    } 
  }
  &.color-neutral-8 {
    svg {
      fill: $color-neutral-8;
    } 
  }
  &.color-neutral-9 {
    svg {
      fill: $color-neutral-9;
    } 
  }
  &.color-neutral-10 {
    svg {
      fill: $color-neutral-10;
    } 
  }
  &.color-neutral-11 {
    svg {
      fill: $color-neutral-11;
    } 
  }
  &.color-white {
    svg {
      fill: $color-white;
    }   
  }
  &.color-success-1 {
    svg {
      fill: $color-success-1;
    } 
  }
  &.color-success-2 {
    svg {
      fill: $color-success-2;
    } 
  }
  &.color-success-3 {
    svg {
      fill: $color-success-3;
    } 
  }
  &.color-error-1 {
    svg {
      fill: $color-error-1;
    } 
  }
  &.color-error-2 {
    svg {
      fill: $color-error-2;
    } 
  }
  &.color-error-3 {
    svg {
      fill: $color-error-3;
    } 
  }
}