$font-primary: 'Work Sans' !default;
$font-secondary: 'Montserrat' !default;
$font-tertiary: 'Arvo' !default;

%thin { font-weight: 100 };
%light { font-weight: 300 };
%regular { font-weight: 400 };
%medium { font-weight: 500 };
%bold { font-weight: bold };
%italic { font-weight: italic };