@use './colors.scss' as *;
@use './mixings.scss' as *; 

$font-primary: 'Work Sans' !default;
$font-secondary: 'Merriweather' !default;
$font-tertiary: 'Arvo' !default;

$font-size-1: 12px !default;
$font-size-2: 14px !default;
$font-size-3: 16px !default;
$font-size-4: 18px !default;
$font-size-5: 20px !default;
$font-size-6: 22px !default;
$font-size-7: 38px !default;
$font-size-8: 42px !default;
$font-size-9: 62px !default;

$article-title-fc: $color-neutral-2 !default;
$article-title-fs-sm: 32px !default;
$article-title-lh-sm: 34px !default;
$article-title-fs-lg: 62px !default;
$article-title-lh-lg: 66px !default;
$article-title-ff: $font-primary !default;

$article-title-intro-fc: $color-white !default;
$article-title-intro-fs: 44px !default;
$article-title-intro-lh: 48px !default;
$article-title-intro-fs-lg: 62px !default;
$article-title-intro-lh-lg: 66px !default;
$article-title-intro-ff: $font-primary !default;

$article-subtitle-fc: $color-neutral-4 !default;
$article-subtitle-fs: 18px !default;
$article-subtitle-lh: 26px !default;
$article-subtitle-ff: $font-primary !default;
$article-subtitle-fs-lg: 20px !default;
$article-subtitle-lh-lg: 28px !default;

$article-subtitle-intro-fc: $color-white !default;
$article-subtitle-intro-fs: 16px !default;
$article-subtitle-intro-lh: 22px !default;
$article-subtitle-intro-fs-lg: 20px !default;
$article-subtitle-intro-lh-lg: 28px !default;
$article-subtitle-intro-ff: $font-primary !default;

$article-paragraph-fc: $color-neutral-2 !default;
$article-paragraph-fs: 18px !default;
$article-paragraph-lh: 42px !default;

$article-tag-fc: $color-primary-2 !default;
$article-tag-fs: 14px !default;
$article-tag-lh: 26px !default;

$image-gallery-name-fs: 24px !default;
$image-gallery-name-lh: 28px !default;
$image-gallery-lead-fs: 16px !default;
$image-gallery-lead-lh: 22px !default;

$system-fc: $color-neutral-4 !default;
$system-fs-sm: 14px !default;
$system-lh: 18px !default;

%thin { font-weight: 100 };
%light { font-weight: 300 };
%regular { font-weight: 400 };
%medium { font-weight: 500 };
%bold { font-weight: bold };
%italic { font-weight: italic };

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$italic: italic;

//SUBJECT
$font-subject-family: $font-secondary !default;
$font-subject-size-1: 12px !default;
$font-subject-size-2: 14px !default;
$font-subject-size-3: 16px !default;
$font-subject-lineheight-1: 14px !default;
$font-subject-lineheight-2: 16px !default;
$font-subject-lineheight-3: 18px !default;

//NEWSTITLE
$font-newstitle-family: $font-primary !default;
$font-newstitle-size-1: 16px !default;
$font-newstitle-size-2: 20px !default;
$font-newstitle-size-3: 24px !default;
$font-newstitle-size-4: 30px !default;
$font-newstitle-size-5: 38px !default;
$font-newstitle-size-6: 42px !default;
$font-newstitle-size-7: 62px !default;
$font-newstitle-lineheight-1: 18px !default;
$font-newstitle-lineheight-2: 22px !default;
$font-newstitle-lineheight-3: 28px !default;
$font-newstitle-lineheight-4: 34px !default;
$font-newstitle-lineheight-5: 34px !default;
$font-newstitle-lineheight-6: 46px !default;
$font-newstitle-lineheight-7: 64px !default;

$font-subtitle-family: $font-primary;
$font-subtitle-size-1: 18px !default;
$font-subtitle-lineheight-1: 20px !default;

$font-date-family: $font-primary;
$font-date-size-1: 12px !default;
$font-date-lineheight-1: 14px !default;

$font-author-family: $font-primary;
$font-author-size-1: 14px !default;
$font-author-lineheight-1: 16px !default;

$font-byline-family: $font-primary;
$font-byline-size-1: 14px !default;
$font-byline-lineheight-1: 16px !default;

$font-paragraph-family: $font-primary;
$font-paragraph-size-1: 20px !default;
$font-paragraph-lineheight-1: 22px !default;

$font-interTitle-family: $font-primary;
$font-interTitle-size-1: 30px !default;
$font-interTitle-lineheight-1: 32px !default;

$font-citation-family: $font-primary;
$font-citation-size-1: 32px !default;
$font-citation-lineheight-1: 34px !default;

$font-urlLink-family: $font-primary;
$font-urlLink-size-1: 20px !default;
$font-urlLink-lineheight-1: 22px !default;

$font-tag-family: $font-primary;
$font-tag-size-1: 14px !default;
$font-tag-lineheight-1: 16px !default;

$font-sectionTitle-family: $font-primary;
$font-sectionTitle-size-1: 20px !default;
$font-sectionTitle-lineheight-1: 22px !default;

$font-editorialTitle-family: $font-primary;
$font-editorialTitle-size-1: 20px !default;
$font-editorialTitle-lineheight-1: 22px !default;

$font-button-family: $font-primary;
$font-button-size-1: 14px !default;
$font-button-lineheight-1: 16px !default;

$font-mostread-number-family: $font-primary;
$font-mostread-number-size-1: 14px !default;
$font-mostread-number-lineheight-1: 16px !default;

$font-menuSide-title-family: $font-primary;
$font-menuSide-title-size-1: 20px !default;
$font-menuSide-title-lineheight-1: 22px !default;

$font-menuSide-item-family: $font-primary;
$font-menuSide-item-size-1: 16px !default;
$font-menuSide-item-lineheight-1: 18px !default;

$font-menuTop-item-family: $font-primary;
$font-menuTop-item-size-1: 16px !default;
$font-menuTop-item-lineheight-1: 18px !default;