$xs: 360px !default;
$sm: 460px !default;
$md: 768px !default;
$lg: 1016px !default;
$xl: 1280px !default;

$col-space-lg: 16px;
$col-space-xl: 16px;
$col-lg: 50px;
$col-xl: 72px;

@mixin grid($n) {
	@media(min-width: $lg) {
		padding-left: $col-space-lg;
    padding-right: $col-space-lg;
		width: calc(calc(#{$col-lg} * #{$n}) + calc(#{$col-space-lg} * calc(#{$n} - 1)));
	}
	@media(min-width: $xl) {
		padding-left: $col-space-xl;
    padding-right: $col-space-xl;
		width: calc(calc(#{$col-xl} * #{$n}) + calc(#{$col-space-xl} * calc(#{$n} - 1)));
	}
}

.xs-25 {
	width: 100%;
	@media(min-width: $xs) {
		width: 25%;
	}
}
.xs-50 {
	width: 100%;
	@media(min-width: $xs) {
		width: 50%;
	}
}
.xs-75 {
	width: 100%;
	@media(min-width: $xs) {
		width: 75%;
	}
}
.xs-100 {
	width: 100%;
	@media(min-width: $xs) {
		width: 100%;
	}
}
.sm-25 {
	@media(min-width: $sm) {
		width: 25%;
	}
}
.sm-50 {
	@media(min-width: $sm) {
		width: 50%;
	}
}
.sm-75 {
	@media(min-width: $sm) {
		width: 75%;
	}
}
.sm-100 {
	@media(min-width: $sm) {
		width: 100%;
	}
}
.md-25 {
	@media(min-width: $md) {
		width: 25%;
	}
}
.md-50 {
	@media(min-width: $md) {
		width: 50%;
	}
}
.md-75 {
	@media(min-width: $md) {
		width: 75%;
	}
}
.md-100 {
	@media(min-width: $md) {
		width: 100%;
	}
}