$q-xs: 360px;
$q-xs-mw: 359px;
$q-sm: 560px;
$q-sm-mw: 559px;
$q-md: 768px;
$q-md-mw: 767px;
$q-lg: 980px;
$q-lg-mw: 979px;
$q-xl: 1120px;
$q-xl-mw: 1119px;

$queries: (
  '--xs' $q-xs,
  '--sm' $q-sm,
  '--md' $q-md, 
  '--lg' $q-lg, 
  '--xl' $q-xl
);
$sides: (
  '' '', 
  't' '-top',
  'r' '-right',
  'b' '-bottom',
  'l' '-left',
);

$size-space: 6px;
$size-pixel: 12px;

$sizepix-it: (0 1 2 3 4 5 6 7 8 9 10);

@mixin classes-align-render($list, $querie) {
  @each $item in $list {
    $dir: #{nth($item, 1)};
    $prop: #{nth($item, 2)};
    $ai: #{nth($item, 3)};
    $jc: #{nth($item, 4)};
    .#{$dir}-#{$prop}#{$querie} {
      align-items: $ai;
      justify-content: $jc;
    }
  }
}
@mixin classes-align($list) {
  @include classes-align-render($list, '');
  @each $q in $queries {
    $querie: #{nth($q, 1)};
    $breakp: #{nth($q, 2)};
    @media(min-width: #{$breakp}) {
      @include classes-align-render($list, $querie);
    }
  }
}
@mixin classes-iterator-calc($prefix, $prop, $querie) {
  @each $i in $sizepix-it {
    $value_pixel: calc(#{$i} * #{$size-pixel});
    $value_percn: calc(#{$i}0%);
    .#{$prefix}-#{$i}#{$querie} {#{$prop}: #{$value_pixel}}
    .#{$prefix}-#{$i}0p#{$querie} {#{$prop}: #{$value_percn}}
    @each $j in $sizepix-it {
      $value_pixel: calc(calc(#{$i} * #{$size-pixel}) - calc(#{$j} * #{$size-space}));
      $value_percn: calc(#{$i}0% - calc(#{$j} * #{$size-space}));
      .#{$prefix}-#{$i}-#{$j}#{$querie} {#{$prop}: #{$value_pixel}}
      .#{$prefix}-#{$i}0p-#{$j}#{$querie} {#{$prop}: #{$value_percn}}
    }
  }
}
@mixin classes-incremental($list) {
  @each $item in $list {
    $prefix: #{nth($item, 1)};
    $prop: #{nth($item, 2)};
    @include classes-iterator-calc($prefix, $prop, '');
    @each $q in $queries {
      $querie: #{nth($q, 1)};
      $breakp: #{nth($q, 2)};
      @media(min-width: #{$breakp}) {
        @include classes-iterator-calc($prefix, $prop, $querie);
      }
    }
  }
}
@mixin classes-simple-render($list, $querie) {
  @each $item in $list {
    $prefix: #{nth($item, 1)};
    $prop: #{nth($item, 2)};
    $value: #{nth($item, 3)};
    .#{$prefix}#{$querie}{#{$prop}: #{$value}}
  }
}
@mixin classes-simple($list) {
  @include classes-simple-render($list, '');
  @each $q in $queries {
    $querie: #{nth($q, 1)};
    $breakp: #{nth($q, 2)};
    @media(min-width: #{$breakp}) {
      @include classes-simple-render($list, $querie);
    }
  }
}
@mixin classes-side-render($prefix, $querie, $name, $size) {
  @each $sides in $sides {
    $side: #{nth($sides, 1)};
    $attr: #{nth($sides, 2)};
    $prop: #{$name}#{$attr};
    @each $i in $sizepix-it {
      $value: calc(#{$i} * #{$size});
      .#{$prefix}#{$side}-#{$i}#{$querie} {#{$prop}: #{$value}}
    }
  }
}
@mixin classes-side($list) {
  @each $item in $list {
    $prefix: #{nth($item, 1)};
    $name: #{nth($item, 2)};
    $size: #{nth($item, 3)};
    @include classes-side-render($prefix, '', $name, $size);
    @each $q in $queries {
      $querie: #{nth($q, 1)};
      $breakp: #{nth($q, 2)};
      @media(min-width: #{$breakp}) {
        @include classes-side-render($prefix, $querie, $name, $size);
      }
    }
  }
}
.fx-col {
  display: flex;
  flex-direction: column;
}
.fx-row {
  display: flex;
  flex-direction: row;
}
@each $q in $queries {
  $querie: #{nth($q, 1)};
  $breakp: #{nth($q, 2)};
  @media(min-width: #{$breakp}) {
    .fx-col#{$querie} {
      flex-direction: column;
    }
    .fx-row#{$querie} {
      flex-direction: row;
    }
  }
}