$q-xs: 360px;
$q-xs-mw: 359px;
$q-sm: 560px;
$q-sm-mw: 559px;
$q-md: 768px;
$q-md-mw: 767px;
$q-lg: 980px;
$q-lg-mw: 979px;
$q-xl: 1120px;
$q-xl-mw: 1119px;

$queries: (
  '--xs' $q-xs,
  '--sm' $q-sm,
  '--md' $q-md, 
  '--lg' $q-lg, 
  '--xl' $q-xl
);
$sides: (
  '' '', 
  't' '-top',
  'r' '-right',
  'b' '-bottom',
  'l' '-left',
);

// used for margin padding & width in percentage
$space-unit: 8px;
// used for width in pixel
$size-pixel: 24px;

$sizepix-it: (0 1 2 3 4 5 6 7 8 9 10);

$space-size-1: calc(#{$space-unit} * 1);
$space-size-2: calc(#{$space-unit} * 2);
$space-size-3: calc(#{$space-unit} * 3);
$space-size-4: calc(#{$space-unit} * 4);
$space-size-5: calc(#{$space-unit} * 5);
$space-size-6: calc(#{$space-unit} * 6);
$space-size-7: calc(#{$space-unit} * 7);
$space-size-8: calc(#{$space-unit} * 8);
$space-size-9: calc(#{$space-unit} * 9);
$space-size-10: calc(#{$space-unit} * 10);