@use '../../styles' as *;

$menu-width: 318px; // + 32px
$menu-opacity: rgba(0,0,0,0.5);

.menu-left {
  @include h(calc(100vh - 32px)); // todo
  @include w($menu-width);
  // @include w(calc(100% - 32px)); // todo
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}
.menu-left-items {
  .item {
    cursor: pointer;
  }
  .subitem {
    cursor: pointer;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:focus,
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}
.menu-modal {
  &.closed {
    display: none;
  }
  &.opened {
    display: flex;
  }
}
.menu-opacity {
  @include bg($menu-opacity);
  @include h(100vh);
  @include w(100vw);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}