@forward '../../styles' with (
  $color-primary-1: #30417D,
  $color-primary-2: #4881AF,
  $color-primary-3: #9AC4FE,
  $color-secondary-1: #3D8A7C,
  $color-secondary-2: #1CC664,
  $color-secondary-3: #55E581,
  $color-black: #000000,
  $color-neutral-1: #151515,
  $color-neutral-2: #333333,
  $color-neutral-3: #555555,
  $color-neutral-4: #666666,
  $color-neutral-5: #707070,
  $color-neutral-6: #999999,
  $color-neutral-7: #B5B5B5,
  $color-neutral-8: #D7D7D7,
  $color-neutral-9: #EAEAEA,
  $color-neutral-10: #F2F2F2,
  $color-neutral-11: #FAFAFA,
  $color-white: #FFFFFF,
  $color-alert-1: #439943,
  $color-alert-2: #FF5648
);

$color-alert-3: #0099ff;