$border-radius-none: 0px;
$border-radius-default: 3px;
$border-radius-alternative: 5px;

%family-radius {
  &.radius-false {
    border-radius: $border-radius-none;
  }
  &.radius-default {
    border-radius: $border-radius-default;
  }
  &.radius-alternative {
    border-radius: $border-radius-alternative;
  }
}