@use '../../styles' as *;

$margin-xs: 4px;
$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 32px;
$margin-xl: 64px;

$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 32px;
$padding-xl: 64px;

$size-xs: 32px;
$size-sm: 64px;
$size-md: 128px;
$size-lg: 256px;
$size-xl: 512px;

.xp-h-xs { @include h($size-xs)}
.xp-h-sm { @include h($size-sm)}
.xp-h-md { @include h($size-md)}
.xp-h-lg { @include h($size-lg)}
.xp-h-xl { @include h($size-xl)}
.xp-h-full { @include h(100%)}

.xp-m-xs { @include m($margin-xs)}
.xp-mb-xs { @include mb($margin-xs)}
.xp-ml-xs { @include ml($margin-xs)}
.xp-mr-xs { @include mr($margin-xs)}
.xp-mt-xs { @include mt($margin-xs)}
.xp-m-sm { @include m($margin-sm)}
.xp-mb-sm { @include mb($margin-sm)}
.xp-ml-sm { @include ml($margin-sm)}
.xp-mr-sm { @include mr($margin-sm)}
.xp-mt-sm { @include mt($margin-sm)}
.xp-m-md { @include m($margin-md)}
.xp-mb-md { @include mb($margin-md)}
.xp-ml-md { @include ml($margin-md)}
.xp-mr-md { @include mr($margin-md)}
.xp-mt-md { @include mt($margin-md)}
.xp-m-lg { @include m($margin-lg)}
.xp-mb-lg { @include mb($margin-lg)}
.xp-ml-lg { @include ml($margin-lg)}
.xp-mr-lg { @include mr($margin-lg)}
.xp-mt-lg { @include mt($margin-lg)}
.xp-m-xl { @include m($margin-xl)}
.xp-mb-xl { @include mb($margin-xl)}
.xp-ml-xl { @include ml($margin-xl)}
.xp-mr-xl { @include mr($margin-xl)}
.xp-mt-xl { @include mt($margin-xl)}

.xp-p-xs { @include p($padding-xs)}
.xp-pb-xs { @include pb($padding-xs)}
.xp-pl-xs { @include pl($padding-xs)}
.xp-pr-xs { @include pr($padding-xs)}
.xp-pt-xs { @include pt($padding-xs)}
.xp-p-sm { @include p($padding-sm)}
.xp-pb-sm { @include pb($padding-sm)}
.xp-pl-sm { @include pl($padding-sm)}
.xp-pr-sm { @include pr($padding-sm)}
.xp-pt-sm { @include pt($padding-sm)}
.xp-p-md { @include p($padding-md)}
.xp-pb-md { @include pb($padding-md)}
.xp-pl-md { @include pl($padding-md)}
.xp-pr-md { @include pr($padding-md)}
.xp-pt-md { @include pt($padding-md)}
.xp-p-lg { @include p($padding-lg)}
.xp-pb-lg { @include pb($padding-lg)}
.xp-pl-lg { @include pl($padding-lg)}
.xp-pr-lg { @include pr($padding-lg)}
.xp-pt-lg { @include pt($padding-lg)}
.xp-p-xl { @include p($padding-xl)}
.xp-pb-xl { @include pb($padding-xl)}
.xp-pl-xl { @include pl($padding-xl)}
.xp-pr-xl { @include pr($padding-xl)}
.xp-pt-xl { @include pt($padding-xl)}

.xp-w-xs { @include w($size-xs)}
.xp-w-sm { @include w($size-sm)}
.xp-w-md { @include w($size-md)}
.xp-w-lg { @include w($size-lg)}
.xp-w-xl { @include w($size-xl)}
.xp-w-full { @include w(100%)}

.fx-align-between {@include jc(space-between)}
.fx-align-bottom {@include jc(flex-end)}
.fx-align-evenly {@include jc(space-evenly)}
.fx-align-left {@include ai(flex-start)}
.fx-align-center {@include ai(center)}
.fx-align-middle {@include jc(center)}
.fx-align-right {@include ai(flex-end)}
.fx-align-top {@include jc(flex-start)}

.fy-align-between {@include jc(space-between)}
.fy-align-bottom {@include ai(flex-end)}
.fy-align-evenly {@include jc(space-evenly)}
.fy-align-center {@include jc(center)}
.fy-align-left {@include jc(flex-start)}
.fy-align-middle {@include ai(center)}
.fy-align-right {@include jc(flex-end)}
.fy-align-top {@include ai(flex-start)}

.fx-dir-col {
  display: flex;
  flex-direction: column;
}
.fx-dir-row {
  display: flex;
  flex-direction: row;
}
.fx-fit-h {
  @include h(fit-content)
};
.fx-fit-w {
  @include w(fit-content)
};

.four-col {
  flex-wrap: wrap;
};