@use '../../styles' as *;

$searchmenu-item-size: 18px !default;
$searchmenu-opacity: rgba(0,0,0,0.5);
$searchmenu-width: 318px !default; // + 32px

$sidemenu-item-size: 18px !default;
$sidemenu-opacity: rgba(0,0,0,0.5);
$sidemenu-width: 318px !default; // + 32px

.menu-left {
  @include h(calc(100vh - 64px)); // todo
  @include w($sidemenu-width);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}
.menu-right {
  @include h(calc(100vh - 64px)); // todo
  @include w($searchmenu-width);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
}
.menu-modal {
  &.closed {
    display: none;
  }
  &.opened {
    display: flex;
  }
}
.menu-opacity {
  @include bg($sidemenu-opacity);
  @include h(100vh);
  @include w(100vw);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.search-field {
  @include ff($font-secondary);
  @include fs(14px);
  @include py($space-size-2);
  @include px($space-size-2);
  @include miw(200px);
  @include w(calc(100% - #{$space-size-4}));
  border: 1px solid $color-neutral-8;
  border-radius: 4px;
}
.sidemenu-group {
  a {
    color: inherit;
    text-decoration: none;
    &:focus,
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
  .sidemenu-group-item {
    @include ff($font-secondary);
    @include fs($sidemenu-item-size);
    @include fw(700);
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}