@use '../../styles' as *;

$newsgrid-1-teaser-title-height: 28px;
$newsgrid-1-teaser-title-size: 24px;

$newsgrid-1-teaser-title-height--lg: 36px;
$newsgrid-1-teaser-title-size--lg: 32px;

$newsgrid-2-teaser-title-height: 28px;
$newsgrid-2-teaser-title-size: 24px;

$newsgrid-1-teaser-image-height: 246px;
$newsgrid-1-teaser-image-height--lg: 296px;

$newsgrid-2-teaser-image-height: 164px;
$newsgrid-2-teaser-image-height--lg: 140px;

.templates-newsgrid {
  .teaser-subject {
    @include mb($space-size-1);
  }
  .teaser-title {
    @include fs($newsgrid-1-teaser-title-size);
    @include lh($newsgrid-1-teaser-title-height);
    @include fw(700);
  }
  &.two {
    .teaser-content {
      @include my($space-size-2);
      @media (min-width: $lg) {
        @include my($space-size-3);
      }
    }
    .teaser-image {
      &.image-top {
        .image-background {
          @include h($newsgrid-1-teaser-image-height);
        }
      }
    }
    .teaser-title {
      @include mb($space-size-3);
    }
  }
  &.three {
    .teaser-content {
      @include mb($space-size-2);
    }
    .teaser-default {
      &:last-child {
        @include mb(unset);
      }
    }
    .teaser-image {
      &.image-top {
        .image-background {
          @include h($newsgrid-1-teaser-image-height);
        }
      }
    }
    .teaser-title {
      @include mb($space-size-2);
    }
  }
  &.four {
    .teaser-content {
      @include mb($space-size-2);
    }
    .teaser-default {
      &:last-child {
        @include mb(unset);
      }
    }
    .teaser-image {
      &.image-top {
        .image-background {
          @include h($newsgrid-2-teaser-image-height);
        }
      }
    }
    .teaser-title {
      @include mb($space-size-2);
    }
  }
  @media(min-width: $md) {
    &.two > div {
      @include w(calc(calc(100% - calc(#{$space-size-2} * 2)) / 2));
    }
    &.three > div {
      @include w(calc(calc(100% - calc(#{$space-size-4} * 2)) / 3));
    }
    &.four > div {
      @include w(calc(calc(100% - calc(#{$space-size-6} * 2)) / 4));
    }
  }
  @media (min-width: $md) {
    .teaser-default {
      @include mb(unset);
      
    }
    &.two {
      .teaser-content {
        .teaser-title {
          @include fs($newsgrid-1-teaser-title-size--lg);
          @include lh($newsgrid-1-teaser-title-height--lg);

        }
      }
      .teaser-image {
        &.image-top {
          .image-background {
            @include h($newsgrid-1-teaser-image-height--lg);
          }
        }
      }
    }
    &.three {
      .teaser-image {
        &.image-top {
          .image-background {
            @include h($newsgrid-1-teaser-image-height--lg);
          }
        }
      }
    }
    &.four {
      .teaser-image {
        &.image-top {
          .image-background {
            @include h($newsgrid-2-teaser-image-height--lg);
          }
        }
      }
    }
  }
}