@use '../../styles' as *;

$featured-1-teaser-title-height: 36px;
$featured-1-teaser-title-size: 32px;
$featured-1-teaser-title-height--lg: 66px;
$featured-1-teaser-title-size--lg: 62px;

$featured-2-teaser-title-height: 36px;
$featured-2-teaser-title-size: 32px;
$featured-2-teaser-title-height--lg: 48px;
$featured-2-teaser-title-size--lg: 44px;

$featured-3-teaser-title-height: 28px;
$featured-3-teaser-title-size: 24px;
$featured-3-teaser-title-height--lg: 28px;
$featured-3-teaser-title-size--lg: 24px;

$latest-1-teaser-image-height: 210px;
$latest-1-teaser-image-width: 280px;

.templates-featured {
  .teaser-image {
    display: none;
  }
  &.one {
    .teaser-content {
      @include mt($space-size-5);
      @include mx($space-size-3);
    }
    .teaser-subject {
      @include mb($space-size-3);
    }
    .teaser-title {
      @include fs($featured-1-teaser-title-size);
      @include fw(700);
      @include lh($featured-1-teaser-title-height);
      @include mb($space-size-5);
    }
  }
  &.three {
    .block-left {
      .teaser-content {
        @include mb($space-size-3);
        @include mx($space-size-3);
      }
    }  
    .block-right {
      .teaser-content {
        @include mb($space-size-2);
      }
    }
  }
  .block-left {
    .teaser-content {
      @include mt($space-size-5);
      @media(min-width: $lg) {
        justify-content: space-between;
      }
    }
    .teaser-subject {
      @include mb($space-size-3);
    }
    .teaser-title {
      @include fs($featured-2-teaser-title-size);
      @include fw(700);
      @include lh($featured-2-teaser-title-height);
      @include mb($space-size-2);
    }
  }
  .block-right {
    .teaser-subject {
      @include mb($space-size-1);
    }
    .teaser-title {
      @include fs($featured-3-teaser-title-size);
      @include fw(700);
      @include lh($featured-3-teaser-title-height);
      @include mb($space-size-1);
    }
  }
  @media(min-width: $md) {
    &.three {
      .block-left {
        @include w(calc(calc(calc(100% / 3 * 2) - #{$space-size-2}) + 6px));
      }
      .block-right {
        @include w(calc(calc(calc(100% / 3) - #{$space-size-2}) - 2px));
      }
    }
  }
  @media(min-width: $lg) {
    &.one {
      .teaser-content {
        @include m($space-size-5);
        @include mb($space-size-8);
      }
      .teaser-subject {
        @include mb($space-size-5);
      }
      .teaser-title {
        @include fs($featured-1-teaser-title-size--lg);
        @include fw(700);
        @include lh($featured-1-teaser-title-height--lg);
        @include mb($space-size-3);
      }
    }
    .block-left {
      .teaser-content {
        @include m($space-size-5);
      }
      .teaser-subject {
        @include mb($space-size-5);
      }
      .teaser-title {
        @include fs($featured-2-teaser-title-size--lg);
        @include fw(700);
        @include lh($featured-2-teaser-title-height--lg);
      }
    }
    .block-right {
      .teaser-title {
        @include fs($featured-3-teaser-title-size--lg);
        @include lh($featured-3-teaser-title-height--lg);
        @include fw(700);
      }
    }
  }
}

.templates-latest-news {
  @include w(100%);
  @media(min-width: $md) {
    .page-left {
      @include w(calc(calc(calc(100% / 3 * 2) - #{$space-size-2}) + 6px));
    }
    .page-right {
      @include w(calc(calc(calc(100% / 3) - #{$space-size-2}) - 2px));
    }
  }
}
.list-news,
.latest-news {
  .teaser-default {
    .teaser-title {
      @include mb($space-size-2);
      @media (min-width: $lg) {
        @include mb($space-size-3);
      }
    }
  }
  .teaser-image {
    &.image-top {
      .image-background {
        @include h($latest-1-teaser-image-height);
        @include w(100%);
      }
    }
  }
  @media (min-width: $md) {
    .teaser-default {
      flex-direction: row;
    }
    .teaser-image {
      &.image-top {
        .image-background {
          @include h($latest-1-teaser-image-height);
          @include w($latest-1-teaser-image-width);
        }
      }
    }
  }
}