@use '../../styles' as *;

$latest-1-teaser-image-height: 210px;
$latest-1-teaser-image-width: 280px;

.Prensa-Templates-LatestNews {
  @include w(100%);
  .teaser-content {
    @include mx($space-size-3);
  }
  @media(min-width: $md) {
    .page-left {
      @include w(calc(100% / 3 * 2 - #{$space-size-2} + 6px));
    }
    .page-right {
      @include w(calc(100% / 3 - #{$space-size-2} - 2px));
    }
  }
  .list-news,
  .latest-news {
    .teaser-default {
      .teaser-title {
        @include mb($space-size-2);
        @media (min-width: $lg) {
          @include mb($space-size-3);
        }
      }
    }
    .teaser-image {
      &.image-top {
        .image-background {
          @include h($latest-1-teaser-image-height);
        }
      }
    }
    @media (min-width: $md) {
      .teaser-default {
        flex-direction: row;
      }
      .teaser-image {
        &.image-top {
          .image-background {
            @include h($latest-1-teaser-image-height);
            @include w($latest-1-teaser-image-width);
          }
        }
      }
    }
  }
}