@use '../../styles' as *;

$subjects-1-teaser-title-height: 20px;
$subjects-1-teaser-title-size: 16px;

$subjects-1-teaser-image-height: 80px;
$subjects-1-teaser-image-width: 80px;

.templates-subjects {
  .col {
    .button-read-more {
      @include b(1px, solid, $color-neutral-9);
      @include mb($space-size-2);
    }
    &.black { 
      .section-title,
      .typography-root.subject-sm {
        @include fc($color-subject-black); 
      }
      .button-read-more {
        @include bg($color-white);
        @include fc($color-subject-black); 
      }
    }
    &.blue { 
      .section-title,
      .typography-root.subject-sm {
        @include fc($color-subject-blue); 
      }
      .button-read-more {
        @include bg($color-white);
        @include fc($color-subject-blue); 
      }
    }
    &.default { 
      .section-title,
      .typography-root.subject-sm {
        @include fc($color-primary-1); 
      }
      .button-read-more {
        @include bg($color-white);
        @include fc($color-primary-1); 
      }
    }
    &.green { 
      .section-title,
      .typography-root.subject-sm {
        @include fc($color-subject-green); 
      }
      .button-read-more {
        @include bg($color-white);
        @include fc($color-subject-green); 
      }
    }
    &.red { 
      .section-title,
      .typography-root.subject-sm {
        @include fc($color-subject-red); 
      }
      .button-read-more {
        @include bg($color-white);
        @include fc($color-subject-red); 
      }
    }
    &.yellow { 
      .section-title,
      .typography-root.subject-sm {
        @include fc($color-subject-yellow); 
      }
      .button-read-more {
        @include bg($color-white);
        @include fc($color-subject-yellow); 
      }
    }
  }
  .teaser-default {
    @include mb($space-size-2);
    @include p($space-size-2);
    @include pt($space-size-3)
  }
  .teaser-content {
    @include my(0px);
  }
  .teaser-title {
    @include fs($subjects-1-teaser-title-size);
    @include lh($subjects-1-teaser-title-height);
  }
  .teaser-subject {
    @include mb($space-size-1);
  }
  .teaser-image {
    &.image-left {
      .image-background {
        @include mih($subjects-1-teaser-image-height);
        @include w($subjects-1-teaser-image-width);
      }
    }
  }
  @media (min-width: $lg) {
    .col {
      @include w(calc(calc(100% - calc(#{$space-size-4} * 2)) / 3));
    }  
  }
}
