@use '../../styles' as *;

$subjects-1-teaser-title-height: 20px;
$subjects-1-teaser-title-size: 16px;

$subjects-1-teaser-image-height: 80px;
$subjects-1-teaser-image-width: 80px;

.templates-subjects {
  .teaser-title {
    @include fs($subjects-1-teaser-title-size);
    @include lh($subjects-1-teaser-title-height);
  }
  .teaser-image {
    &.image-left {
      .image-background {
        @include mih($subjects-1-teaser-image-height);
        @include w($subjects-1-teaser-image-width);
      }
    }
  }
  @media (min-width: $lg) {
    .col {
      @include w(calc(calc(100% - calc(#{$space-size-4} * 2)) / 3));
    }  
  }
}
