@use '../../styles' as *;

@keyframes tagHover {
  from {opacity: 100%;}
  to {opacity: 80%;}
}

.Prensa-Tag-root {
  @include w(max-content);
  @include py($space-size-2);
  @include px($space-size-2);
  @include mr($space-size-2);
  @include mb($space-size-2);
  @extend %family-radius;
  @extend %family-border-colors;
  border-width: 2px;
  border-style: solid;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    animation-name: tagHover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
}