@use '../../styles' as *;

.social-circle {
  @include fx(center, center);
  @include h(32px);
  @include mr($space-size-4);
  @include r(50%);
  @include w(32px);
  svg {
    fill: transparent;
  }
}