name: Package Deploy - Prensa v1

on:
  push:
    branches:
      - master
    paths-ignore:
      - packages/xprog-prensa

jobs:
  Package-Deploy-Prensa-v1:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: |
            ~/.npm
            # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-${{ hashFiles('packages/prensa/yarn.lock') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install
        run: yarn deps:prensa:v1

      - name: Build
        run: yarn build:prensa:v1

      - name: Generate release
        run: yarn release:prensa:v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}