name: Pull Request Check

on:
  pull_request: 
    paths: 
      - 'packages/prensa/**'

jobs:
  Install-And-Build-Prensa-v1:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Install
        run: yarn deps:prensa:v1

      - name: Build
        run: yarn build:prensa:v1